a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.horizontalContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.verticalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#TL {
  width: 40%;
}
.wbg {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}
.cPhoto img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  border: 4px solid rgb(27, 69, 183);
}
button #shopNow :hover {
  background-color: white;
  color: rgb(27, 69, 183);
}
